
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* menuButton */
#detailedReviewPage_menuButton {

}
.ui-btn.detailedReviewPage_menuButton {

}
/* detailedReviewContainer */
.ui-content.detailedReviewPage_detailedReviewContainer {
	padding: 15px 15px 15px 15px;
}
/* reviewFooter */
.detailedReviewPage_reviewFooter {
	min-height:38px;
}