
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.dinnerDrilldownSample_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelist_2 */
.ui-page .dinnerDrilldownSample_mobilelist_2 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_3 */
/* mobilelistitembutton_4 */
.dinnerDrilldownSample_mobilelistitembutton_4 {

}
/* mobilelistitem_5 */
/* mobilelistitembutton_6 */
.dinnerDrilldownSample_mobilelistitembutton_6 {

}
/* mobilelistitem_7 */
/* mobilelistitembutton_8 */
.dinnerDrilldownSample_mobilelistitembutton_8 {

}
/* mobilelistitem_9 */
/* mobilelistitembutton_10 */
.dinnerDrilldownSample_mobilelistitembutton_10 {

}
/* mobilelistitem_11 */
/* mobilelistitembutton_12 */
.dinnerDrilldownSample_mobilelistitembutton_12 {

}
/* mobilelistitem_13 */
/* mobilelistitembutton_14 */
.dinnerDrilldownSample_mobilelistitembutton_14 {

}
/* mobilelistitem_15 */
/* mobilelistitembutton_16 */
.dinnerDrilldownSample_mobilelistitembutton_16 {

}
/* mobilefooter */
.dinnerDrilldownSample_mobilefooter {
	min-height:38px;
}
/* panel_17 */
.dinnerDrilldownSample_panel_17 .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.dinnerDrilldownSample_panel_17:focus {
	outline: 0;
}
/* mobilebutton_18 */
#dinnerDrilldownSample_mobilebutton_18 {

}
.ui-btn.dinnerDrilldownSample_mobilebutton_18 {
	margin: 4px 5px 4px 5px;
}