
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* homeButton */
#itemInventoryPage_homeButton {

}
.ui-btn.itemInventoryPage_homeButton {

}
/* dishInventoryContainer */
.ui-content.itemInventoryPage_dishInventoryContainer {
	padding: 15px 15px 15px 15px;
}
/* dishInventoryLabel */
.itemInventoryPage_dishInventoryLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dishInventoryList */
.ui-page .itemInventoryPage_dishInventoryList {
	margin: 4px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.itemInventoryPage_mobilelistitembutton_5 {

}
/* mobilelistitem_6 */
/* mobilelistitembutton_7 */
.itemInventoryPage_mobilelistitembutton_7 {

}
/* mobilelistitem_8 */
/* mobilelistitembutton_9 */
.itemInventoryPage_mobilelistitembutton_9 {

}
/* mobilelistitem_11 */
/* mobilelistitembutton_12 */
.itemInventoryPage_mobilelistitembutton_12 {

}
/* inventoryFooter */
.itemInventoryPage_inventoryFooter {
	min-height:38px;
}
/* inventoryPopup */
.itemInventoryPage_inventoryPopup {

}
div.itemInventoryPage_inventoryPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.itemInventoryPage_inventoryPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* name */
.itemInventoryPage_name {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dishHideLabel */
.itemInventoryPage_dishHideLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 10px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dishHideTime */
.itemInventoryPage_dishHideTime {
	margin: 4px 0px 4px 0px;
}
/* inventoryCount */
.itemInventoryPage_inventoryCount {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* inventoryCountLabel */
.itemInventoryPage_inventoryCountLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 10px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* updateInventory */
.itemInventoryPage_updateInventory {
	margin: 4px 0px 4px 0px;
}
/* inventoryAlertLabel */
.itemInventoryPage_inventoryAlertLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 10px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* inventoryLow */
.itemInventoryPage_inventoryLow {
	margin: 4px 0px 4px 0px;
}
/* inventorySaveButton */
#itemInventoryPage_inventorySaveButton {

}
.ui-btn.itemInventoryPage_inventorySaveButton {
	margin: 4px 5px 4px 5px;
}