
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* menuPreviewContainer */
.ui-content.menuPreviewPage_menuPreviewContainer {
	padding: 15px 15px 15px 15px;
}
/* menuPreviewFooter */
.menuPreviewPage_menuPreviewFooter {
	min-height:38px;
}