
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* homeButton */
#qrCodePage_homeButton {

}
.ui-btn.qrCodePage_homeButton {

}
/* qrCodePageContainer */
.ui-content.qrCodePage_qrCodePageContainer {
	padding: 15px 15px 15px 15px;
}
/* ownerNameLabel */
.qrCodePage_ownerNameLabel {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* qrImage */
.qrCodePage_qrImage {
	margin: 20px 5px 8px 5px;
	font-weight: normal;
	width: 100%; height: 200px;
}
div.qrCodePage_qrImage {
	overflow: auto;
}
/* qrcodeDownload */
.qrCodePage_qrcodeDownload {
	margin: 8px 5px 8px 5px;
	font-weight: normal;
	width: 100%; height: 50px;
}
div.qrCodePage_qrcodeDownload {
	overflow: auto;
}
/* html_3 */
.qrCodePage_html_3 {
	margin: 8px 5px 8px 5px;
	font-weight: normal;
	display: none;
	width: 100%; height: 50px;
}
div.qrCodePage_html_3 {
	overflow: auto;
}
/* menuUrl */
.qrCodePage_menuUrl {
	margin: 20px 0px 4px 0px;
	display: block;
	vertical-align: middle;
	padding: 2px;
	cursor: pointer;
}
.qrCodePage_menuUrl_link_wrapper > .qrCodePage_menuUrl,
.qrCodePage_menuUrl_link_wrapper > .qrCodePage_menuUrl:hover,
.qrCodePage_menuUrl_link_wrapper > .qrCodePage_menuUrl:active,
.qrCodePage_menuUrl_link_wrapper > .qrCodePage_menuUrl:visited {
	text-decoration: underline; font-weight: normal; font-style: italic; color: #2489ce; text-align: center; font-family: Helvetica; font-size: 16px;
}
/* qrCodePageFooter */
.qrCodePage_qrCodePageFooter {
	min-height:38px;
}
/* confirmCopyPopup */
.qrCodePage_confirmCopyPopup {

}
div.qrCodePage_confirmCopyPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.qrCodePage_confirmCopyPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* urlCopiedLabel */
.qrCodePage_urlCopiedLabel {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}