
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* navigateButton */
#ratingInfoPage_navigateButton {

}
.ui-btn.ratingInfoPage_navigateButton {

}
/* ratingInfoContainer */
.ui-content.ratingInfoPage_ratingInfoContainer {
	padding: 15px 15px 15px 15px;
}
/* ratingAboutText */
.ratingInfoPage_ratingAboutText {
	margin: 4px 4px 4px 4px;
	font-weight: normal;
	width: auto; height: auto;
}
div.ratingInfoPage_ratingAboutText {
	overflow: auto;
}
/* ratingInfoFooter */
.ratingInfoPage_ratingInfoFooter {
	min-height:38px;
}