
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.themeSample_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* potImage */
.themeSample_potImage {
	margin: 0px 0px 0px 45px;
	width: 200px; height: 162px;
	display: block;
}
/* sampleThemeFooter */
.themeSample_sampleThemeFooter {
	min-height:38px;
}