
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* navigateButton */
#zzmenuPage_navigateButton {

}
.ui-btn.zzmenuPage_navigateButton {

}
/* menuHeadingContainer */
.ui-content.zzmenuPage_menuHeadingContainer {
	padding: 15px 8px 15px 8px;
}
/* profileUseGrid */
.zzmenuPage_profileUseGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzmenuPage_profileUseGrid_wrapper {

}
.zzmenuPage_profileUseGrid > tr > td {
	vertical-align: top;
}
.zzmenuPage_profileUseGrid_row_0, .zzmenuPage_profileUseGrid_row_0 > td {
	height: auto
}
/* profileUseLabelCell */
.zzmenuPage_profileUseLabelCell {
	height:auto !important;
	width:auto;
	padding: 0px 4px 0px 0px;
}
.zzmenuPage_profileUseLabelCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* profileUseLabel */
.zzmenuPage_profileUseLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #f8f8fa; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 12px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* profileUseToggleCell */
.zzmenuPage_profileUseToggleCell {
	height:auto !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.zzmenuPage_profileUseToggleCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* profileUseToggle */
.zzmenuPage_profileUseToggle {
	margin: 0px 0px 0px 2px;
}
/* collapseExpandCell */
.zzmenuPage_collapseExpandCell {
	height:auto !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.zzmenuPage_collapseExpandCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* collapseExpandButton */
#zzmenuPage_collapseExpandButton {

}
.ui-btn.zzmenuPage_collapseExpandButton {
	margin: 6px 0px 0px 20px;
}
/* profileSearchGrid */
.zzmenuPage_profileSearchGrid {
	height: auto;
	width:100%;
	margin: 10px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzmenuPage_profileSearchGrid_wrapper {
	display: none;
}
.zzmenuPage_profileSearchGrid > tr > td {
	vertical-align: top;
}
.zzmenuPage_profileSearchGrid_row_0, .zzmenuPage_profileSearchGrid_row_0 > td {
	height: 15px
}
.zzmenuPage_profileSearchGrid_row_1, .zzmenuPage_profileSearchGrid_row_1 > td {
	height: 15px
}
/* profileLabelCell */
.zzmenuPage_profileLabelCell {
	height:15px !important;
	width:205px;
	padding: 0px 0px 0px 0px;
}
.zzmenuPage_profileLabelCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* profileToggleCell */
.zzmenuPage_profileToggleCell {
	height:15px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.zzmenuPage_profileToggleCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* searchLabelCell */
.zzmenuPage_searchLabelCell {
	height:15px !important;
	width:205px;
	padding: 0px 0px 0px 0px;
}
.zzmenuPage_searchLabelCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* searchInput */
.zzmenuPage_searchInput {
	margin: 4px 4px 4px 0px;
}
/* searchButtonCell */
.zzmenuPage_searchButtonCell {
	height:15px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.zzmenuPage_searchButtonCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* searchMenuButton */
#zzmenuPage_searchMenuButton {

}
.ui-btn.zzmenuPage_searchMenuButton {
	margin: 0px 0px 0px 0px;
}
/* menuTagLine */
.zzmenuPage_menuTagLine {
	text-decoration: none; font-weight: normal; font-style: italic; color: #d8d8d8; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 10px 0px 10px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* menuList */
.ui-page .zzmenuPage_menuList {
	margin: 10px -8px 0px -8px;
}
/* headingItem */
.ui-mobile-viewport ul[data-role="listview"] li.zzmenuPage_headingItem {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.zzmenuPage_headingItem .ui-li-static-container {
	padding: 0px 0px 4px 0px;
	padding-right: 41px;
	padding-left: 0px;
	min-height: 1em;
	border-width:0;
}
.ui-mobile-viewport ul[data-role="listview"] li.zzmenuPage_headingItem.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* menuHeadingName */
.zzmenuPage_menuHeadingName {
	text-decoration: none; font-weight: normal; color: #f0edf5; text-align: left; font-family: Helvetica; font-size: 18px;
	margin: 4px 2px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelistitembutton_38 */
.zzmenuPage_mobilelistitembutton_38 {

}
/* menuHeadingDescription */
.zzmenuPage_menuHeadingDescription {
	text-decoration: none; font-weight: normal; font-style: italic; color: #c4c1c7; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 2px;
	word-wrap: break-word;
	white-space: normal;
}
/* priceRatingGrid */
.zzmenuPage_priceRatingGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzmenuPage_priceRatingGrid_wrapper {

}
.zzmenuPage_priceRatingGrid > tr > td {
	vertical-align: top;
}
.zzmenuPage_priceRatingGrid_row_0, .zzmenuPage_priceRatingGrid_row_0 > td {
	height: 30px
}
/* priceCell */
.zzmenuPage_priceCell {
	height:30px !important;
	width:75px;
	padding: 2px 2px 2px 0px;
}
.zzmenuPage_priceCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* priceGrid */
.zzmenuPage_priceGrid {
	height: auto;
	width:100%;
	margin: 6px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzmenuPage_priceGrid_wrapper {

}
.zzmenuPage_priceGrid > tr > td {
	vertical-align: top;
}
.zzmenuPage_priceGrid_row_0, .zzmenuPage_priceGrid_row_0 > td {
	height: 30px
}
/* dollarSignCell */
.zzmenuPage_dollarSignCell {
	height:30px !important;
	width:12px;
	padding: 0px 2px 0px 0px;
}
.zzmenuPage_dollarSignCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* dollarSignLabel */
.zzmenuPage_dollarSignLabel {
	text-decoration: none; font-weight: normal; color: #c4c1c7; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 0px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* priceAmountCell */
.zzmenuPage_priceAmountCell {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.zzmenuPage_priceAmountCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* priceAmountLabel */
.zzmenuPage_priceAmountLabel {
	text-decoration: none; font-weight: normal; color: #c4c1c7; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 0px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* ratingCell */
.zzmenuPage_ratingCell {
	height:30px !important;
	width:auto;
	padding: 2px 2px 0px 2px;
}
.zzmenuPage_ratingCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* selectItemButton */
#zzmenuPage_selectItemButton {

}
.ui-btn.zzmenuPage_selectItemButton {
	margin: 0px 0px 0px 10px;
}
/* addWishListButton */
#zzmenuPage_addWishListButton {

}
.ui-btn.zzmenuPage_addWishListButton {
	margin: 0px 0px 0px 10px;
}
/* unavailableLabel */
.zzmenuPage_unavailableLabel {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* menuFooter */
.zzmenuPage_menuFooter {
	min-height:38px;
}
/* footerGrid */
.zzmenuPage_footerGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzmenuPage_footerGrid_wrapper {

}
.zzmenuPage_footerGrid > tr > td {
	vertical-align: top;
}
.zzmenuPage_footerGrid_row_0, .zzmenuPage_footerGrid_row_0 > td {
	height: 30px
}
/* selectedCell */
.zzmenuPage_selectedCell {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.zzmenuPage_selectedCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* selectedButton */
#zzmenuPage_selectedButton {

}
.ui-btn.zzmenuPage_selectedButton {
	margin: 0px 0px 0px 0px;
}
/* callServerCell */
.zzmenuPage_callServerCell {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.zzmenuPage_callServerCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* callServerButton */
#zzmenuPage_callServerButton {
	display: none;
}
.ui-btn.zzmenuPage_callServerButton {
	margin: 0px 0px 0px 0px;
}
/* ownerInfoCell */
.zzmenuPage_ownerInfoCell {
	height:30px !important;
	width:38px;
	padding: 2px 2px 2px 2px;
}
.zzmenuPage_ownerInfoCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* ownerInfoButton */
#zzmenuPage_ownerInfoButton {

}
.ui-btn.zzmenuPage_ownerInfoButton {
	margin: 0px 0px 0px 0px;
}
/* headingAddPopup */
.zzmenuPage_headingAddPopup {

}
div.zzmenuPage_headingAddPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzmenuPage_headingAddPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* categoryAddLabel */
.zzmenuPage_categoryAddLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #4c516d; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* headingAddField */
.zzmenuPage_headingAddField {
	margin: 4px 4px 4px 4px;
}
/* headerDescriptionField */
.zzmenuPage_headerDescriptionField {
	margin: 4px 4px 4px 4px;
}
/* categoryParentLabel */
.zzmenuPage_categoryParentLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #4c516d; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 10px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* headingExampleLabel1 */
.zzmenuPage_headingExampleLabel1 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 60px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* headingExampleLabel2 */
.zzmenuPage_headingExampleLabel2 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 70px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* headingExampleLabel3 */
.zzmenuPage_headingExampleLabel3 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 70px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* headingParentSelect */
.zzmenuPage_headingParentSelect {
	margin: 4px 5px 4px 5px;
}
/* headingAddSaveButton */
#zzmenuPage_headingAddSaveButton {

}
.ui-btn.zzmenuPage_headingAddSaveButton {
	margin: 10px 5px 4px 5px;
}
/* categoryEditPopup */
.zzmenuPage_categoryEditPopup {

}
div.zzmenuPage_categoryEditPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzmenuPage_categoryEditPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* categoryEditLabel */
.zzmenuPage_categoryEditLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #4c516d; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobiletextinput_22 */
.zzmenuPage_mobiletextinput_22 {
	margin: 4px 4px 4px 4px;
}
/* categoryParentEditLabel */
.zzmenuPage_categoryParentEditLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #4c516d; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* categoryParentEditButton */
.zzmenuPage_categoryParentEditButton {
	margin: 4px 5px 4px 5px;
}
/* categoryEditSaveButton */
#zzmenuPage_categoryEditSaveButton {

}
.ui-btn.zzmenuPage_categoryEditSaveButton {
	margin: 4px 5px 4px 5px;
}
/* itemIsInOrderPopup */
.zzmenuPage_itemIsInOrderPopup {

}
div.zzmenuPage_itemIsInOrderPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzmenuPage_itemIsInOrderPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* itemIsInOrderLabel */
.zzmenuPage_itemIsInOrderLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #4c516d; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* addToOrderPopup */
.zzmenuPage_addToOrderPopup {

}
div.zzmenuPage_addToOrderPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzmenuPage_addToOrderPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* addtoOrderLabel */
.zzmenuPage_addtoOrderLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #4c516d; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* wishListPopup */
.zzmenuPage_wishListPopup {

}
div.zzmenuPage_wishListPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzmenuPage_wishListPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* labelStandard */
.zzmenuPage_labelStandard {
	text-decoration: none; font-weight: normal; font-style: italic; color: #4c516d; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* wishListNote */
.zzmenuPage_wishListNote {
	margin: 4px 4px 4px 4px;
}
/* closePopupButton */
#zzmenuPage_closePopupButton {

}
.ui-btn.zzmenuPage_closePopupButton {
	margin: 4px 5px 4px 5px;
}
/* wishlistConfirmPopup */
.zzmenuPage_wishlistConfirmPopup {

}
div.zzmenuPage_wishlistConfirmPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzmenuPage_wishlistConfirmPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* wishlistConfirmLabel */
.zzmenuPage_wishlistConfirmLabel {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* wishlistContainsItem */
.zzmenuPage_wishlistContainsItem {

}
div.zzmenuPage_wishlistContainsItem {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzmenuPage_wishlistContainsItem .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* wishListContainsItemLabel */
.zzmenuPage_wishListContainsItemLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* loginGotoPopup */
.zzmenuPage_loginGotoPopup {

}
div.zzmenuPage_loginGotoPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzmenuPage_loginGotoPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* loginGotoLabel */
.zzmenuPage_loginGotoLabel {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 4px 4px 4px;
	word-wrap: break-word;
	white-space: normal;
}
/* loginGotoButtonGrid */
.zzmenuPage_loginGotoButtonGrid {
	height: auto;
	width:100%;
	margin: 10px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzmenuPage_loginGotoButtonGrid_wrapper {

}
.zzmenuPage_loginGotoButtonGrid > tr > td {
	vertical-align: top;
}
.zzmenuPage_loginGotoButtonGrid_row_0, .zzmenuPage_loginGotoButtonGrid_row_0 > td {
	height: auto
}
/* loginGotoCell */
.zzmenuPage_loginGotoCell {
	height:auto !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.zzmenuPage_loginGotoCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* loginGotoButton */
#zzmenuPage_loginGotoButton {

}
.ui-btn.zzmenuPage_loginGotoButton {
	margin: 0px 0px 0px 0px;
}
/* loginGotoCancelCell */
.zzmenuPage_loginGotoCancelCell {
	height:auto !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.zzmenuPage_loginGotoCancelCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* loginGotoCancelButton */
#zzmenuPage_loginGotoCancelButton {

}
.ui-btn.zzmenuPage_loginGotoCancelButton {
	margin: 0px 0px 0px 0px;
}