
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* menuButton */
#zzsearchPage_menuButton {

}
.ui-btn.zzsearchPage_menuButton {

}
/* searchContainer */
.ui-content.zzsearchPage_searchContainer {
	padding: 15px 15px 15px 15px;
}
/* profileLabel */
.zzsearchPage_profileLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* profileUseGrid */
.zzsearchPage_profileUseGrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzsearchPage_profileUseGrid_wrapper {

}
.zzsearchPage_profileUseGrid > tr > td {
	vertical-align: top;
}
.zzsearchPage_profileUseGrid_row_0, .zzsearchPage_profileUseGrid_row_0 > td {
	height: 30px
}
/* profileUseCell */
.zzsearchPage_profileUseCell {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.zzsearchPage_profileUseCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* useProfileLabel */
.zzsearchPage_useProfileLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 6px 4px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* profileUseToggleCell */
.zzsearchPage_profileUseToggleCell {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.zzsearchPage_profileUseToggleCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* useProfileToggle */
.zzsearchPage_useProfileToggle {
	margin: 0px 0px 0px 4px;
}
/* locationLabel */
.zzsearchPage_locationLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 10px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* locationGrid */
.zzsearchPage_locationGrid {
	height: auto;
	width:100%;
	margin: 10px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzsearchPage_locationGrid_wrapper {

}
.zzsearchPage_locationGrid > tr > td {
	vertical-align: top;
}
.zzsearchPage_locationGrid_row_0, .zzsearchPage_locationGrid_row_0 > td {
	height: 30px
}
.zzsearchPage_locationGrid_row_1, .zzsearchPage_locationGrid_row_1 > td {
	height: 30px
}
/* locationCell */
.zzsearchPage_locationCell {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.zzsearchPage_locationCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* useLocationLabel */
.zzsearchPage_useLocationLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 10px 4px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* useLocationToggleCell */
.zzsearchPage_useLocationToggleCell {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.zzsearchPage_useLocationToggleCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* useLocationToggle */
.zzsearchPage_useLocationToggle {
	margin: 0px 0px 0px 4px;
}
/* enterSearchAddressCell */
.zzsearchPage_enterSearchAddressCell {
	height:30px !important;
	width:auto;
	padding: 4px 0px 0px 0px;
}
.zzsearchPage_enterSearchAddressCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* enterSearchAddress */
.zzsearchPage_enterSearchAddress {
	margin: 0px 0px 0px 0px;
}
/* findNearbyButtonCell */
.zzsearchPage_findNearbyButtonCell {
	height:30px !important;
	width:auto;
	padding: 4px 0px 0px 0px;
}
.zzsearchPage_findNearbyButtonCell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* findNearbyButton */
#zzsearchPage_findNearbyButton {

}
.ui-btn.zzsearchPage_findNearbyButton {
	margin: 0px 0px 0px 4px;
}
/* searchCriteriaLabel */
.zzsearchPage_searchCriteriaLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 10px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* searchButtons */
.ui-controlgroup.zzsearchPage_searchButtons {
	margin: 10px 5px 4px 5px;
}
.ui-controlgroup.zzsearchPage_searchButtons .ui-btn {
	margin: 0 -1px 0 0;
}
/* distanceButton */
#zzsearchPage_distanceButton {

}
.ui-btn.zzsearchPage_distanceButton {

}
/* ratingButton */
#zzsearchPage_ratingButton {

}
.ui-btn.zzsearchPage_ratingButton {

}
/* priceButton */
#zzsearchPage_priceButton {

}
.ui-btn.zzsearchPage_priceButton {

}
/* dietaryButton */
#zzsearchPage_dietaryButton {

}
.ui-btn.zzsearchPage_dietaryButton {

}
/* ingredientButton */
#zzsearchPage_ingredientButton {

}
.ui-btn.zzsearchPage_ingredientButton {

}
/* cuisineButton */
#zzsearchPage_cuisineButton {

}
.ui-btn.zzsearchPage_cuisineButton {

}
/* nameButton */
#zzsearchPage_nameButton {

}
.ui-btn.zzsearchPage_nameButton {

}
/* searchFooter */
.zzsearchPage_searchFooter {
	min-height:38px;
}
/* mobilegrid_126 */
.zzsearchPage_mobilegrid_126 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzsearchPage_mobilegrid_126_wrapper {

}
.zzsearchPage_mobilegrid_126 > tr > td {
	vertical-align: top;
}
.zzsearchPage_mobilegrid_126_row_0, .zzsearchPage_mobilegrid_126_row_0 > td {
	height: 30px
}
/* mobilegridcell_127 */
.zzsearchPage_mobilegridcell_127 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.zzsearchPage_mobilegridcell_127 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* showFilterButton */
#zzsearchPage_showFilterButton {

}
.ui-btn.zzsearchPage_showFilterButton {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_128 */
.zzsearchPage_mobilegridcell_128 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.zzsearchPage_mobilegridcell_128 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* searchButton */
#zzsearchPage_searchButton {

}
.ui-btn.zzsearchPage_searchButton {
	margin: 4px 5px 4px 5px;
}
/* searchCriteriaPanel */
.zzsearchPage_searchCriteriaPanel .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.zzsearchPage_searchCriteriaPanel:focus {
	outline: 0;
}
/* distanceSelect */
.zzsearchPage_distanceSelect {
	margin: 4px 5px 4px 5px;
}
/* starLabel */
.zzsearchPage_starLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 10px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* starsSlider */
.zzsearchPage_starsSlider {
	margin: 4px 0px 4px 0px;
}
/* priceRadio */
.zzsearchPage_priceRadio {
	margin: 10px 0px 4px 0px;
}
/* priceRadio1 */
.zzsearchPage_priceRadio1 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* priceRadio2 */
.zzsearchPage_priceRadio2 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* priceRadio3 */
.zzsearchPage_priceRadio3 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* priceRadio4 */
.zzsearchPage_priceRadio4 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* saveChoicesButton */
#zzsearchPage_saveChoicesButton {

}
.ui-btn.zzsearchPage_saveChoicesButton {
	margin: 10px 5px 4px 5px;
}
/* dietaryPanel */
.zzsearchPage_dietaryPanel .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.zzsearchPage_dietaryPanel:focus {
	outline: 0;
}
/* cuisinePanelList */
.zzsearchPage_cuisinePanelList {
	margin: 4px 0px 4px 0px;
}
/* selectHalal */
.zzsearchPage_selectHalal {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* selectKosher */
.zzsearchPage_selectKosher {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* selectJain */
.zzsearchPage_selectJain {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* selectVegitarian */
.zzsearchPage_selectVegitarian {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* selectVegan */
.zzsearchPage_selectVegan {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* selectGlutenFree */
.zzsearchPage_selectGlutenFree {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* selectPaleo */
.zzsearchPage_selectPaleo {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* cuisinePanelBack */
#zzsearchPage_cuisinePanelBack {

}
.ui-btn.zzsearchPage_cuisinePanelBack {
	margin: 4px 5px 4px 5px;
}
/* ingredientPopup */
.zzsearchPage_ingredientPopup {

}
div.zzsearchPage_ingredientPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzsearchPage_ingredientPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* ingredientDescriptionLabel */
.zzsearchPage_ingredientDescriptionLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* ingredientField */
.zzsearchPage_ingredientField {
	margin: 4px 0px 4px 0px;
}
/* ingredientEnterButton */
#zzsearchPage_ingredientEnterButton {

}
.ui-btn.zzsearchPage_ingredientEnterButton {
	margin: 4px 5px 4px 5px;
}
/* distancePopup */
.zzsearchPage_distancePopup {

}
div.zzsearchPage_distancePopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzsearchPage_distancePopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* distancePopupLabel */
.zzsearchPage_distancePopupLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* distanceRadio */
.zzsearchPage_distanceRadio {
	margin: 4px 0px 4px 0px;
}
/* radio2blocks */
.zzsearchPage_radio2blocks {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* radio8blocks */
.zzsearchPage_radio8blocks {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* radio1mile */
.zzsearchPage_radio1mile {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* radio5miles */
.zzsearchPage_radio5miles {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* radio10miles */
.zzsearchPage_radio10miles {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* distanceOK */
#zzsearchPage_distanceOK {

}
.ui-btn.zzsearchPage_distanceOK {
	margin: 10px 5px 4px 5px;
}
/* ratingPopup */
.zzsearchPage_ratingPopup {

}
div.zzsearchPage_ratingPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzsearchPage_ratingPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* ratingFilterLabel */
.zzsearchPage_ratingFilterLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* ratingSearchChoices */
.ui-controlgroup.zzsearchPage_ratingSearchChoices {
	margin: 4px 5px 4px 5px;
}
.ui-controlgroup.zzsearchPage_ratingSearchChoices .ui-btn {
	margin: 0 -1px 0 0;
	max-width: 100%;
}
.ui-controlgroup.zzsearchPage_ratingSearchChoices .ui-controlgroup-controls {
	max-width: 100%;
}
/* star1Select */
#zzsearchPage_star1Select {

}
.ui-btn.zzsearchPage_star1Select {

}
/* star2Select */
#zzsearchPage_star2Select {

}
.ui-btn.zzsearchPage_star2Select {

}
/* star3Select */
#zzsearchPage_star3Select {

}
.ui-btn.zzsearchPage_star3Select {

}
/* star4Select */
#zzsearchPage_star4Select {

}
.ui-btn.zzsearchPage_star4Select {

}
/* star5Select */
#zzsearchPage_star5Select {

}
.ui-btn.zzsearchPage_star5Select {

}
/* ratingOK */
#zzsearchPage_ratingOK {

}
.ui-btn.zzsearchPage_ratingOK {
	margin: 4px 5px 4px 5px;
}
/* cuisinePopup */
.zzsearchPage_cuisinePopup {

}
div.zzsearchPage_cuisinePopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzsearchPage_cuisinePopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* cuisinePopupLabel */
.zzsearchPage_cuisinePopupLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilesearchbar_90 */
.zzsearchPage_mobilesearchbar_90 {
	margin: 4px 0px 4px 0px;
}
#zzsearchPage_mobilesearchbar_90-cover-div {
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 9px 7px 8px 7px;
	z-index: 9999;
}
/* cuisineOK */
#zzsearchPage_cuisineOK {

}
.ui-btn.zzsearchPage_cuisineOK {
	margin: 10px 5px 4px 5px;
}
/* mobilecheckboxgroup_92 */
.zzsearchPage_mobilecheckboxgroup_92 {
	margin: 4px 0px 4px 0px;
}
/* mobilecheckbox_93 */
.zzsearchPage_mobilecheckbox_93 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_94 */
.zzsearchPage_mobilecheckbox_94 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_95 */
.zzsearchPage_mobilecheckbox_95 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_96 */
.zzsearchPage_mobilecheckbox_96 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_97 */
.zzsearchPage_mobilecheckbox_97 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_98 */
.zzsearchPage_mobilecheckbox_98 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_99 */
.zzsearchPage_mobilecheckbox_99 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_100 */
.zzsearchPage_mobilecheckbox_100 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_101 */
.zzsearchPage_mobilecheckbox_101 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_102 */
.zzsearchPage_mobilecheckbox_102 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* pricePopup */
.zzsearchPage_pricePopup {

}
div.zzsearchPage_pricePopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzsearchPage_pricePopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* pricePopupLabel */
.zzsearchPage_pricePopupLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecheckboxgroup_104 */
.zzsearchPage_mobilecheckboxgroup_104 {
	margin: 4px 0px 4px 0px;
}
/* mobilecheckbox_105 */
.zzsearchPage_mobilecheckbox_105 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_106 */
.zzsearchPage_mobilecheckbox_106 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_107 */
.zzsearchPage_mobilecheckbox_107 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilecheckbox_108 */
.zzsearchPage_mobilecheckbox_108 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* priceOK */
#zzsearchPage_priceOK {

}
.ui-btn.zzsearchPage_priceOK {
	margin: 4px 5px 4px 5px;
}
/* dietaryPopup */
.zzsearchPage_dietaryPopup {

}
div.zzsearchPage_dietaryPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzsearchPage_dietaryPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* dietaryPopupLabel */
.zzsearchPage_dietaryPopupLabel {
	text-decoration: none; font-weight: normal; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dietaryChoices */
.zzsearchPage_dietaryChoices {
	margin: 4px 0px 4px 0px;
}
/* glutenFreeSelect */
.zzsearchPage_glutenFreeSelect {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* halalSelect */
.zzsearchPage_halalSelect {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* jainSelect */
.zzsearchPage_jainSelect {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* kosherSelect */
.zzsearchPage_kosherSelect {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* paleoSelect */
.zzsearchPage_paleoSelect {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* veganSelect */
.zzsearchPage_veganSelect {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* vegetarianSelect */
.zzsearchPage_vegetarianSelect {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* dietaryOK */
#zzsearchPage_dietaryOK {

}
.ui-btn.zzsearchPage_dietaryOK {
	margin: 4px 5px 4px 5px;
}
/* loginPopup */
.zzsearchPage_loginPopup {

}
div.zzsearchPage_loginPopup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.zzsearchPage_loginPopup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* loginPopupLabel */
.zzsearchPage_loginPopupLabel {
	text-decoration: none; font-weight: normal; font-style: italic; color: #0ec40a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_123 */
.zzsearchPage_mobilegrid_123 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.zzsearchPage_mobilegrid_123_wrapper {

}
.zzsearchPage_mobilegrid_123 > tr > td {
	vertical-align: top;
}
.zzsearchPage_mobilegrid_123_row_0, .zzsearchPage_mobilegrid_123_row_0 > td {
	height: 30px
}
/* mobilegridcell_124 */
.zzsearchPage_mobilegridcell_124 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.zzsearchPage_mobilegridcell_124 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* loginPopupCancelButton */
#zzsearchPage_loginPopupCancelButton {

}
.ui-btn.zzsearchPage_loginPopupCancelButton {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_125 */
.zzsearchPage_mobilegridcell_125 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.zzsearchPage_mobilegridcell_125 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* loginPopupButton */
#zzsearchPage_loginPopupButton {

}
.ui-btn.zzsearchPage_loginPopupButton {
	margin: 4px 5px 4px 5px;
}